*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;

    #menu-h {

        list-style-type: none;
        padding: 0;
        background-color: rgb(87, 84, 84);
       }

    #menu-h li{
        display: inline;
    }
    #menu-h li a{
        color:#fff;
        padding: 10px;
        display: inline-block;
        text-decoration: none;
        display: inline;
    }

}